<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Home </title>

</head>
<body>
    <h1>
        Welcome on your Classroom Task Management Tool
    </h1>
    <p>
        to see your classes please log in.
    </p>
</body>
</html>
