{% extends 'base.html.twig' %}


{% block body %}
<h1>  Welcome to Classroom Todo !</h1>

<p>
    Please authenticate to access the rest of the website and see your availables Classroom !
</p>

{% endblock %}
