{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-4">

        <h1 class="h3 mb-4 text-center">Welcome to <span class="text-primary">Classroom&nbsp;Todo</span> !</h1>

        <div class="d-flex justify-content-center mb-5">
            <a href="{{ path('classroom_index') }}" class="btn btn-primary btn-lg">
                View my classrooms
            </a>
        </div>

        <div class="card shadow-sm border-primary">
            <div class="card-header bg-primary bg-opacity-10">
                About this project
            </div>
            <div class="card-body">
                <h2 class="h5 mb-3">Blablabla</h2>
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lorem ut viverra
                    consectetur. Sed fermentum dictum lectus vitae congue. Aliquam egestas, mauris a dignissim
                    bibendum, urna mauris fermentum risus, et euismod leo erat eget arcu. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec auctor elit ac
                    dapibus ultrices. Vestibulum eget erat nisl. ...
                </p>
            </div>
        </div>

    </div>
{% endblock %}
