{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for task in tasks %}
            <li>
                <p>
                    {{ task.id }}
                    {{ task.name }}
                    {{ task.completed }}
                    {{ task.idUser }}
                </p>
            </li>
        {% else %}
            <li> You aren't part of any classrooms, please contact your school administrator if you think it's an mistake </li>
        {% endfor %}
    </ul>
{% endblock %}
